body{
    font-family: sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: rgb(19, 209, 209);
}

/* class select */
.btn{
    color: rgb(18, 18, 152);
  }
  #my-image{
    box-shadow: 0 0 2px 1px rgb(0, 0, 0);
  }
 
/* remove the bullets from unordered list inside the nav */
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* Remove the underline from the links */
nav a {
    text-decoration: none;
    display: inline-block;
} 
nav a{
    background-color: aqua;
    border-radius: 5px;
    color: white;
}
nav a:hover, nav a:focus{
    background-color: bisque;
    border-color: beige;
}