body{
    background-color: white;
    color: rgb(4, 4, 24);
    line-height: 1.5;
}
.container{
    max-width: 90vw;
    margin: 0 auto;
}


header{
    background-color: lightblue;
    color: aliceblue;
    padding: 6rem 0 3rem 0;
    background-image: url("../images/bread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
h1{
font-size: 5.063em;
text-transform: uppercase;
}
h2{
    font-size: 3.375em;
}
h3{
    font-size: 2.25em;
}
p{
    font-size: 1.5em;
}
nav ul li{
    color: rgb(39, 122, 104);
    display: inline;
}
a{
    color: inherit;
}
aside{
    background-color: aqua;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
}
aside ul{
list-style: disc;
}
section{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
footer{
    background-color: rgb(107, 107, 75);
    color: aliceblue;
    padding: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}
footer p{
    font-size: 1rem;
}
table {
    width: 100%;
    text-align: center;
}

tr, th, td {
    border: 2px solid black
}
